body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

fieldset {
  width: 600px;
  margin: 0 auto;
  /*centers fieldset in container*/
  padding: 0;
  border: 0;
}

.partial {
  box-sizing: border-box;
  display: inline-block;
}

.one_half {
  width: 50%;
}

.left {
  padding-right: 5px;
}

.right {
  padding-left: 5px;
}

.both {
  padding-left: 5px;
  padding-right: 5px;
}

.one_tenth {
  width: 10%;
}

.four_tenths {
  width: 40%
}

dl {
  margin-bottom: 0;
} 

dl + dl {
  margin-top: 0;
}

dd {
  margin: 0 0 25px 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  height: 30px;
  padding: 3 10px;
  font: normal 14px Helvetica, Arial, sans-serif;
  border: 1px solid #cecece;
  box-sizing: border-box;
  /*fit inputs into fieldset*/
}

textarea {
  width: auto;
  /* set width back to the number of rows dictating height */
  height: auto;
  /* set height back to auto so number of columns
  dictate starting height*/
  resize: vertical;
}

ul {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}